# dependencies
node_modules
.pnpm-store

# build outputs
dist
.next
out
build

# turbo
.turbo

# env
.env
.env.local
.env.production

# prisma
prisma/migrations

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea

# test
coverage

# TypeScript build cache
*.tsbuildinfo
